	/*
  	Flaticon icon font: Flaticon
  	Creation date: 10/09/2019 01:55
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticond41d.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff2") format("woff2"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
font-style: normal;
}

.flaticon-brain:before { content: "\f100"; }
.flaticon-baby-boy:before { content: "\f101"; }
.flaticon-health:before { content: "\f102"; }
.flaticon-dental:before { content: "\f103"; }
.flaticon-drug:before { content: "\f104"; }
.flaticon-pill:before { content: "\f105"; }
.flaticon-healthcare-and-medical:before { content: "\f106"; }
.flaticon-care:before { content: "\f107"; }
.flaticon-professions-and-jobs:before { content: "\f108"; }
.flaticon-flask:before { content: "\f109"; }
.flaticon-vaccine:before { content: "\f10a"; }
.flaticon-calendar:before { content: "\f10b"; }
.flaticon-calendar-1:before { content: "\f10c"; }
.flaticon-lung:before { content: "\f10d"; }